{
  "parser"  : "babel-eslint",
  "extends": [
    "standard",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "node": true
  },
  "globals": {
  },
  "plugins": [
    "babel",
    "promise",
    "flowtype",
  ]
}
